*{
  margin: 0;
  padding: 0;
}
.carusel-wrapper{
  position: relative;
}
.carousel-hider{
  margin: 100px auto;
  width: 600px;
  overflow: hidden;
}
.carousel-list {
    list-style: none;
    width: 10000px;
    position: relative;
    left: 0;
}

.carousel-element {
    display: block;
    float: left;
}

.carousel-element img {
    max-width: 200px;
}

.carousel-arrow-left {
  position: absolute;
  top: 50%;
  left: 0;

}
.carousel-arrow-right{
  position: absolute;
  top: 50%;
  right: 0;
}
